<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EARLY-BIRD-IELTS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>359809B01CF6A50F00E63B53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>359809C91CF6A51000E63B53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>359809D41CF6A51000E63B53</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
